In [1]:
pwd

'/home/titus/fastai/SATAI'

In [2]:
from __future__ import absolute_import, division, print_function, unicode_literals

import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.compat.v2.summary API due to missing TensorBoard installation.
WARNING:root:Limited tf.summary API due to missing TensorBoard installation.

Num GPUs Available:  1

In [3]:
import pandas as pd
import numpy as np

import os

# image generation
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from matplotlib.pyplot import imread, imshow, subplots, show

In [4]:

ds_metadata = pd.read_csv("skin-cancer-mnist-ham10000/HAM10000_metadata.csv")

In [6]:
ds_metadata.head()

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear


### Create directory structure (Run only once )

In [7]:
base_dir = "imgs"
os.mkdir(base_dir)

train_dir = os.path.join(base_dir, 'train_dir')
os.mkdir(train_dir)

# val_dir
val_dir = os.path.join(base_dir, 'val_dir')
os.mkdir(val_dir)

tst_dir = os.path.join(base_dir, 'tst_dir')
os.mkdir(tst_dir)

dir_list = [train_dir, val_dir, tst_dir]
dx_vals = ['nv','mel','bkl','bcc','akiec','vasc','df']

# Create folders
for dl in dir_list:
    for dv in dx_vals:
        folder_path = os.path.join(dl, dv)
        os.mkdir(folder_path)

FileExistsError: [Errno 17] File exists: 'imgs'

In [12]:
df = ds_metadata.groupby('lesion_id').count()
df.head()

             image_id  dx  dx_type  age  sex  localization
lesion_id
HAM_0000000         2   2        2    2    2             2
HAM_0000001         1   1        1    1    1             1
HAM_0000002         3   3        3    3    3             3
HAM_0000003         1   1        1    1    1             1
HAM_0000004         1   1        1    1    1             1

In [13]:
train, validate, test = np.split(ds_metadata.sample(frac=1), [int(.6*len(ds_metadata)), int(.8*len(ds_metadata))])

In [14]:
train.shape

(6009, 7)

In [16]:
validate.shape

(2003, 7)

In [15]:
test.shape

(2003, 7)

In [17]:
ds_metadata['dx'].value_counts()

nv       6705
mel      1113
bkl      1099
bcc       514
akiec     327
vasc      142
df        115
Name: dx, dtype: int64

In [ ]:
test